<launch>
    <!-- param -->
    <arg name="lidar_publish_freq" default="30.0" />
    <arg name="lidar_frame_id" default="livox_frame" />
    <arg name="enable_rviz" default="true" />

    <!-- launch Livox MID360 driver -->
    <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch">
        <arg name="publish_freq" value="$(arg lidar_publish_freq)"/>
        <arg name="msg_frame_id" value="$(arg lidar_frame_id)"/>
    </include>

    <!-- launch FAST_LIO -->
    <include file="$(find fast_lio)/launch/mapping_mid360.launch">
        <arg name="rviz" value="$(arg enable_rviz)"/>
    </include>
</launch>
